{% extends "portfolio/main.html" %}
{% load static %}
{% block content %}

<section>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="bd-placeholder-img" width="100%" height="100%" src="{% static '/images/cover.png' %}">
            <div class="container">
                <div class="carousel-caption text-right">
                    <h1 class="raleway"><strong>Parfait</strong> Opportunities</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Vacancy Section -->
<section class="col section-2 justify-content-center">
    <h2 class="display-4 section-header" style="text-align: center;">Job Vacancies</h2> 
    <div class="row">
        <div class="col-3">
            <h5><strong>Filter</strong></h5>
            <form class="form-signin" method="GET">
                {% csrf_token %}
                <div class="form-label-group">
                    {{ filter.form.job_title }}
                    {% if filter.form.job_title.errors %}
                        {% for error in filter.form.job_title.errors %}
                            <strong>{{ error|escape }}</strong>
                        {% endfor %}
                    {% endif %}
                    <label for="job_title">Job Title</label>
                </div>            

                <div class="form-label-group">
                    {{ filter.form.company_name }}
                    {% if filter.form.company_name.errors %}
                        {% for error in filter.form.company_name.errors %}
                            <strong>{{ error|escape }}</strong>
                        {% endfor %}
                    {% endif %}
                    <label for="company_name">Company</label>
                </div>            

                <div class="form-label-group">
                    {{ filter.form.salary }}
                    {% if filter.form.salary.errors %}
                        {% for error in filter.form.salary.errors %}
                            <strong>{{ error|escape }}</strong>
                        {% endfor %}
                    {% endif %}
                    <label for="salary">Salary</label>
                </div>            
                <div class="form-label-group">
                    {{ filter.form.vacancies }}
                    {% if filter.form.vacancies.errors %}
                        {% for error in filter.form.vacancies.errors %}
                            <strong>{{ error|escape }}</strong>
                        {% endfor %}
                    {% endif %}
                    <label for="vacancies">Vacancies</label>
                </div>     
                <button class="btn btn-light" type="submit">Search</button>
            </form>
        </div>
        <div class="col">
            <div class="row">
                {% for job in jobs %}
                <div class="col-4">
                    <div class="job-card">
                        <h5 class="job-title">{{job.job_title}}</h5>
                        <p class="company">{{job.company_name}}</p>
                        <hr>
                        <div class="row">
                            <div class="col-6">
                                <p><strong>Salary</strong> : {{job.salary}}</p>
                            </div>
                            <div class="col-6">
                                <p><strong>Vacancy</strong> : {{job.vacancies}}</p>
                            </div>
                        </div>                
                        <p><strong>Status</strong> : {{job.status}}</p>
                    </div>
                </div>    
                {% endfor %}
            </div>        
        </div>
    </div>
</section>
{% endblock %}