{% extends "portfolio/main.html" %}
{% load static %}
{% block content %}

<section>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="bd-placeholder-img" width="100%" height="100%" src="{% static '/images/cover.png' %}">
            <div class="container">
                <div class="carousel-caption text-right">
                    <h1 class="raleway">About <strong>Parfait</strong></h1>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- HR on Desk -->
<section class="row justify-content-center section-2">
    <div class="col-7" style="padding: 40px;">
        <h2 class="display-4 section-header">HR on Desk</h2>
        <br>
        <p>Parfait HR Solutions is a growing firm, providing its services to various sectors. We are focusing mostly in maintaining high standards of ethics & fair play has become our working philosophy, which has helped us to meet our client’s requirements & building ending relationships.<br>
        We at Parfait, with our consulting services deliver streamlined and efficient process designs to companies of various sizes and scale the company coverage its Leadership, Strategy & process as well as its domain & technical expertise to deliver superior results that provide measurable values & exceed client expectations.
        </p>
    </div>
    <div class="col-5 align-self-center">
        <img width="100%" src="{% static 'images/hr.png'%}">
    </div>
</section>

<!--The Working-->
<section class="row justify-content-center section-1">
    <div class="col-5 align-self-center">
        <img width=120% src="{% static 'images/plan.png'%}">
    </div>
    <div class="col-7 justify-content-right" style="padding: 40px; text-align: left;">
        <h2 class="display-4" style="font-weight: bold;">The Plan</h2>
        <hr>
        <ul>
            <li>Permanent Staffing and RPO</li>
            <li>Temp and Contractual Staffing</li>
            <li>Payroll Processing and HR Compliance</li>
            <li>Manpower Outsourcing</li>
        </ul>
    </div>
</section>

<!-- Company Strategy -->
<section class="row justify-content-center section-2">
    <div class="col-7" style="padding: 40px;">
        <h2 class="display-4 section-header">The Strategy</h2>
        <br>
        <ol style="font-size: 10px">
            <li>Provide Quality Consultancy Services to our Various Target Clients and Customers</li>
            <li>Fully satisfy Clients and Customers Needs</li>
            <li>Undertaken through 
                <ul>
                    <li>Our Creative, Over-Zealous and Professional Marketing Research</li>
                    <li>Consultancy Team</li> 
                    <li>The Production of Good Quality Reports designed to cater to the Client’s Needs</li>
                </ul>
            </li>
            <li>Create Professional Reports/Proposals reflecting our Intended Image and Reputation</li>
            <li>Strive to provide Accuracy, Relevancy and Specific Information</li>
            <li>Establish a Good Rapport with all the Relevant Government Agencies and Private Institutions that may in turn refer us to Aspiring Entrepreneurs</li>
        </ol>
    </div>
    <div class="col-5 align-self-center" style="text-align: center;">
        <img width="85%" src="{% static 'images/strat.png'%}">
    </div>
</section>

<!-- Infographic Style -->
<section class="justify-content-end section-1">
    <h2 class="display-4" style="font-weight: bold;">Infographic Style</h2>
    <hr>
    <br>
    <div class="row align-items-center">
        <div class="col process p1">
            <h5 style="font-weight: bold;">Received Approved MOL</h5>
            <hr style="border-color: white;">
            <p>Issue offer Letter within 24 Hrs. along with Joining Kit with ESS ID & Password</p>
        </div>
        <div>
            <img src="https://img.icons8.com/fluent/48/000000/arrow.png"/>
        </div>
        <div class="col process p2">
            <h5 style="font-weight: bold;">Documentation & ID Card</h5>
            <hr style="border-color: white;">
            <p>Issue appointment letter within 24 hrs. (Once received joining kit along with all the supporting documents).<br>Permanent ID Card will be issued within 10 days of Joining</p>
        </div>
        <div>
            <img src="https://img.icons8.com/fluent/48/000000/arrow.png"/>
        </div>
        <div class="col process p3">
            <h5 style="font-weight: bold;">Attendance & Salary Distribution Cycle</h5>
            <hr style="border-color: white;">
            <p>Attendance  Cycle – (26th day to month – 25th Day of month)<br>Salary Distribution Cycle – (5th day of month– 07th day  of month)</p>
        </div>
        <div>
            <img src="https://img.icons8.com/fluent/48/000000/arrow.png"/>
        </div>
        <div class="col process p4">
            <h5 style="font-weight: bold;">Salary Slip & TIC/EPF No. Distribution Cycle</h5>
            <hr style="border-color: white;">
            <p>Salary Slip Distribution Cycle – (8th day of month– 11th day  of month)
                TIC /EPF No Distribution Cycle – (18th day of month– 22nd day  of month)</p>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div style="text-align: center">
        <img width=90% src="{% static 'images/infographictable.png' %}">
    </div>
</section>


<!-- Multi Process HR Solution -->
<section class="row justify-content-center section-2">
    <h2 class="display-4"  style="font-weight: bold; margin-bottom: 30px;">Multi Process HR Solution</h2>
    <div class="row align-items-center" style="margin-bottom: 30px;">
        <div class="col-4 solution s1">
            <h5 style="font-weight: bold;">Manpower Outsourcing</h5>
        </div>
        <div class="col-4 solution s2">
            <h5 style="font-weight: bold;">Payroll Processing & Employee Management</h5>
        </div>
        <div class="col-4 solution s3">
            <h5 style="font-weight: bold;">Permanent Recruitment</h5>
        </div>
    </div>
    <div class="row" width=100%>
        <div class="col" style="width: 100%;">
            <h5 style="font-weight: bold;">Permanent Staffing</h5>
            <hr style="border-color: white;">
            <div style="line-height: 18px;">
                <p>Entry Level Recruitement</p>
                <p>Mid Level Recruitement</p>
                <p>Senior Level Recruitement</p>
            </div>
        </div>
        <div class="col" style="width: 100%; text-align: right;">
            <h5 style="font-weight: bold;">Temporary Staffing</h5>
            <hr style="border-color: white;">
            <div style="line-height: 18px;">
                <p>Sourcing</p>
                <p>On Boarding</p>
                <p>Attendance Management</p>
                <p>Payroll Processing & Management</p>
                <p>HR Legal Compliance Management</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}